node-red flow.txt
[{"id":"3333110c.0d61de","type":"modbus-write","z":"7488508a.dec77","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"68c68bd4.f26d54","x":476,"y":326,"wires":[["305b58af.aeccb8"],[]]},{"id":"305b58af.aeccb8","type":"modbus-response","z":"7488508a.dec77","name":"","registerShowMax":20,"x":692,"y":320,"wires":[]},{"id":"662647c1.0bfd88","type":"inject","z":"7488508a.dec77","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":259,"y":341,"wires":[["3333110c.0d61de"]]},{"id":"ef702ac6.05b608","type":"inject","z":"7488508a.dec77","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":257,"y":393,"wires":[["3333110c.0d61de"]]},{"id":"9689e585.8a9818","type":"mqtt in","z":"7488508a.dec77","name":"","topic":"prova_rambla_mega_rfm95/devices/rambla_mega_rfm95/up","qos":"2","broker":"ee3528fb.efcba8","x":266,"y":65,"wires":[["ce098570.d12858","a0ae6277.a7bc8"]]},{"id":"ce098570.d12858","type":"debug","z":"7488508a.dec77","name":"","active":true,"console":"false","complete":"false","x":713,"y":72,"wires":[]},{"id":"7a7a5517.0fff4c","type":"function","z":"7488508a.dec77","name":"payload_raw","func":"var a=msg.payload.payload_raw;\nmsg.payload = a;\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":161,"wires":[["9ca45042.28774"]]},{"id":"431fc8c.4410438","type":"debug","z":"7488508a.dec77","name":"","active":true,"console":"false","complete":"false","x":796,"y":162,"wires":[]},{"id":"a0ae6277.a7bc8","type":"json","z":"7488508a.dec77","name":"","pretty":false,"x":156,"y":160,"wires":[["7a7a5517.0fff4c"]]},{"id":"9ca45042.28774","type":"function","z":"7488508a.dec77","name":"base 64 decoder","func":"var b = new Buffer(msg.payload, 'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":161,"wires":[["431fc8c.4410438","81c5c061.7c53f"]]},{"id":"81c5c061.7c53f","type":"function","z":"7488508a.dec77","name":"Integer 16 bit","func":"var a = msg.payload[0];\nvar b = msg.payload[1];\nmsg.payload = b*256+a;\nreturn msg;","outputs":1,"noerr":0,"x":556,"y":226,"wires":[["843d1048.b7338","3333110c.0d61de"]]},{"id":"843d1048.b7338","type":"debug","z":"7488508a.dec77","name":"","active":true,"console":"false","complete":"false","x":806,"y":227,"wires":[]},{"id":"68c68bd4.f26d54","type":"modbus-client","z":"7488508a.dec77","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"ee3528fb.efcba8","type":"mqtt-broker","z":"7488508a.dec77","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]